*{
    /* outline: 1px solid red;  */
}
body{
    margin: 0;
    padding: 0;
    display: block;
    /* overflow: hidden; */
    font-family: 'Mulish';
}
a:hover{
    text-decoration: none!important;
}

.mob{
    display: none;
}
.web{
    display: block;
}
/* -----------------topBar----------------------------------------------------------- */


.topBar{
    background: #375232;
}
.topBar .row{
    height: 45px;
}

.topBar p{
    margin:0;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
.toplinegp span{
    color: #fff;
}
.toplinegp{
    text-align: right;
}
#gp-close{
    display: none;
}

/* --------Navbar-------------------------------------------------------------- */

.navBar{
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: 0px 4px 2px #99E08C;
    z-index: 100;
}
.topNav{
    height: 88px;
    margin: auto;
}

.menu-item{
    font-weight: 600;
    font-size: 14px;
    /* letter-spacing: 0.2px; */
    color: #375232;
}
.navGp{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
.navGp .nav-item a{
    color: #375232;
}
.navGp .active{
    /* width: 51px; */
    /* height: 22px; */
    background: #D8FFD1;
    border-radius: 5px;
    color: #375232;
}

/* -----search-------------- */

form.search-wrap{
    border: 1px solid;
    border-radius: 30px;
    overflow: hidden;
    display: inline-flex;
}
.search-wrap input.form-control{
    border: none;
    width: 100px;
}
/* -----search-------------- */
.toplinegp a{
    padding-right: 15px;
}
.tlicon{
    /* width: 24px; */
    height: 21px;
}


/* //----responsiveness */
@media only screen and (max-width: 1200px) {
    .navBar .col-md-6{
        flex: 0 0 55%!important;
        max-width: 55%!important;
    }
}


/* //----responsiveness */
@media only screen and (max-width: 900px) {

    .topBar .row{
        height: 60px;
        font-size: 14px;
    }
    .topBar .tlicon{
        height: 18px;
    }
    .topBar .toplinegp{
        text-align: center;
    }
    #menuBar{
        display: block;
    }
    #gp-close{
        display: block;
        margin: 6px;
    }

    /* --navbar-- */
    
    .topNav{
        position: relative;
    }
    .navBar #menuBar{
        margin: 5px;
        margin-top: 10px;
        margin-left: 3px
    }
    .navBar{
        height: 48px;
    }
    .brandName{
        justify-content: space-between;
    }
    .alpha-icon{
        text-align: center;
    }
    .brandName img{
        width: 65.62px;
        height: 24px;
    }
    form.search-wrap{
        display: none;
    }
    

    /* --navbar-- */

    /* responsive menu */
    
    .navGp .active{
        width: 100%;
        height: 34px;
        border-radius: 0px;
    }
    .navGp .nav-item a{
        margin-left: 0px!important;
        text-align: center;
    }
    .topNav{
        height: 100%;
        margin: auto;
    }
    .navGp{
        padding-top: 0px;
        display: block;
        background: #fff;
        width: 192px;
        height: 250px;
    }
              

    /* nav-responsive-rd */

    .navBar .container{
        overflow: visible;
    }

    .mob-menu-hero{
        display: flex;
        width: 60%!important;
        justify-content: space-between;
    }
    .mob-menu-hero .navbar-brand{
        margin-right: 0;
    }
    .mob-menu-listwrap{
        width: 10px!important;
        display: contents;

    }
    .mob-menu-listwrap .navGp{
        position: absolute!important;
        /* left: 0; */
        left: -25px;
        top: 0;
        width: 0;
        height: 250px;
        z-index: 990;
        overflow: hidden;
        transition: 0.5s ease all;

    }
    .mob-menu-listwrap .navGp li{
        height: 34px;
        opacity: 0;
        transition: 0.7s ease all;
        
    }
    .mob-menu-endwrap{ width: 25%!important;}
    /* .mob-menu-endwrap .iconUser{
        display: none;
    } */
    .open{
        width: 200px!important;
    }
    .open li{
        height: 34px!important;
        opacity: 1!important;
    }
    

}

/* //----responsiveness */
@media only screen and (max-width: 600px) {
    .mob-menu-listwrap .navGp{
        left: 0;
    }
}

/* ---------navbar-end------------ */


















/* ------footer------------------------------------------------- */


.footer-sec{
    height: 470px;
    background-color: #D8FFD1;
    text-align: center;
    padding-top: 40px;
  }
.footer-sec .row{
    padding-left: 120px
}
.foot-left{
    text-align: left;
}
.foot-left h5{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #375232;
}
.foot-left h6{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #375232;
    opacity: 0.7;
}
.sm-group{
    padding-top: 42px;
    padding-bottom: 40px;
}
.s-icon1{
    padding-right: 18px;
}
.pay-icon img{
    padding-top: 42px;
    padding-right: 16px;
    padding-bottom: 36px;
}
.sec-2{
    padding-top: 26px;
    padding-bottom: 24px;
}
.sec-2 .form-control{
    width: 399px;
    height: 64px;
    border: 1px solid #375232;
    border-radius: 4px;
    background-color: #D8FFD1;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #375232;
}
.sec-2 .btn{
    width: 399px;
    height: 64px;
    background: #375232;
    border-radius: #375232;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    box-shadow: none!important;
}
.sec-2 .btn-primary{
    border-color: #375232!important;
}
.sec-2 .btn-primary:hover{
    background-color: #375232!important;
    border-radius: 4px !important;
    border-color: #375232!important;
}
.sec-2 .btn-primary:focus{
    background-color: #375232!important;
    border-color: #375232!important;
}
.sec-3{
    width: 360px;
}




/* //----responsiveness */
@media only screen and (max-width: 768px) {
    .footer-sec{
        padding-top: 20px;
        /* height: 800px; */
        height: 100%;
        padding-bottom: 20px;
    }
    .footer-sec .row{
        padding-left: 0px;
    }
    .sec-2 .form-control{
        width: 345px;
        height: 55px;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 12px;
        margin: auto;
    }
    .sec-2 .btn{
        width: 345px;
        height: 55px;
        font-size: 16px;
        line-height: 20px;
    }
    .sm-group{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .pay-icon img{
        padding-top: 6px;
        padding-right: 6px;
        padding-bottom: 6px;
    }
    .sec-2{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .sec-2 .form-control{
        margin: 0px;
        margin-bottom: 30px;
    }
}




/* //----responsiveness */
@media only screen and (max-width: 600px) {
    .footer-sec{
        padding-top: 20px;
        height: 100%;
    }
    .footer-sec .row{
        flex-direction: column-reverse;
        padding-left: 0px;
    }
    .foot-left{
        text-align: center;
        padding-right: 0px!important;
        padding-left: 0px!important;
    }
    .foot-left h5{
        font-size: 18px;
        line-height: 23px;
    }
    .foot-left h6{
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 0px;
    }
    .sec-2{
        padding-top: 12px;
        padding-bottom: 8px;
    }
    .sec-2 .form-control{
        width: 345px;
        height: 55px;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 12px;
        margin: auto;
    }
    .sec-2 .btn{
        width: 345px;
        height: 55px;
        font-size: 16px;
        line-height: 20px;
    }
    .sec-3{
        font-size: 12px!important;
        line-height: 15px;
        text-align: center;
        padding-bottom: 32px;
    }
    .sm-group{
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .pay-icon img{
        padding-top: 31px;
        padding-right: 16px;
        padding-bottom: 32px;
    }
}