*{
    /* outline: 1px solid red;  */
}
body{
    margin: 0;
    padding: 0;
    display: block;
    /* overflow: hidden; */
    font-family: 'Mulish';
}
a:hover{
    text-decoration: none!important;
}

.mob{
    display: none;
}
.web{
    display: block;
}


/* -----------------topBar----------------------------------------------------------- */


.topBar{
    background: #375232;
}
.topBar .row{
    height: 45px;
}

.topBar p{
    margin:0;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
.toplinegp span{
    color: #fff;
}
.toplinegp{
    text-align: right;
}


/* --------Navbar-------------------------------------------------------------- */

.navBar{
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: 0px 4px 2px #99E08C;
    z-index: 100;
}
.topNav{
    height: 88px;
    margin: auto;
}

.menu-item{
    font-weight: 600;
    font-size: 14px;
    /* letter-spacing: 0.2px; */
    color: #375232;
}
.navGp{
    padding-top: 10px;
    display: flex;
}
.navGp .nav-item a{
    color: 375232;
}
/* .navGp .nav-item a:hover{
    
} */
.navGp .active{
    /* width: 51px; */
    /* height: 22px; */
    background: #D8FFD1;
    border-radius: 5px;
    color: 375232;
}

/* -----search-------------- */

form.search-wrap{
    border: 1px solid;
    border-radius: 30px;
    overflow: hidden;
    display: inline-flex;
}
.search-wrap input.form-control{
    border: none;
    width: 100px;
}
/* -----search-------------- */
.toplinegp a{
    padding-right: 15px;
}
.tlicon{
    /* width: 24px; */
    height: 21px;
}

/* //----responsiveness */
@media only screen and (max-width: 600px) {
    .topBar .row{
        height: 60px;
        font-size: 14px;
    }
    .topBar .tlicon{
        height: 18px;
    }
    .topBar .toplinegp{
        text-align: center;
    }


    

    /* --navbar-- */
    
    .navBar{
        height: 48px;
    }
    .brandName{
        justify-content: space-between;
    }
    .alpha-icon{
        text-align: center;
    }
    .brandName img{
        width: 65.62px;
        height: 24px;
    }
    .navGp, form.search-wrap{
        display: none;
    }
    

    /* --navbar-- */
}


/* ---------navbar-end------------ */

/* --------product-detail--------------------------------------------------------------- */

.p-detail-sec{
    height: 700px;
    padding: 50px;
}
.p-detail-sec .img-border{
    width: 350px;
    height: 445px;
    /* background: #FFFFFF; */
    border: 2px solid #53B42C;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
}
.p-detail-sec .img-border img{
    width: 349px;
    height: 390px;
}
.p-detail-sec .cb-detail{
    text-align: left;
}
.p-detail-sec h2{
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 34px;
    color: #373F41;
    margin-bottom: 4px;
}
.p-detail-sec h5{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 34px;
    color: #373F41;
    margin-bottom: 10px;
}
.p-detail-sec p{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 22px;
    color: #373F41;
    margin-bottom: 10px;
}
.p-detail-sec span{
    font-size: 16px;
    font-weight: 700;
    color: #373F41;
    letter-spacing: 0.3px;
    line-height: 22px;
    margin-bottom: 10px;
}
.p-detail-sec h6{
    font-size: 24px;
    font-weight: 700;
    color: #199002;
    letter-spacing: 0.2px;
    line-height: 34px;
    padding-top: 10px;
    /* padding-bottom: 16px; */
}
.fa-star{
    color: rgb(255, 245, 0);
    padding: 2px;
}
.star-1{
    display: none;
}
.pd-sz{
    /* height: 17rem;   */
    height: 270px;
    overflow: hidden;
}
.wei-qua p{
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #375232;
    margin-bottom: 0px;
}
.bttn-group .btn.btn-secondary{
    border: 1px solid #375232;
    border-radius: 0;
    width: 148px;
    height: 42px;
    margin: 10px;
    color: #375232;
    background-color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: .6rem 1rem;
    margin: 0px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.bttn-group .btn.btn-secondary:hover{
    background-color: #375232!important;
    color: #fff!important;
}
.bttn-group .btn.btn-secondary:focus{
    background-color: #375232!important;
    color: #fff!important;
    box-shadow: none!important;
}
.bttn-group button:focus{
    box-shadow: none!important;
}

/* --------- */

.product-count{
    margin-bottom: 25px;
}
.product-count a {
    text-decoration: none;
    font-weight: 700;
    color: black;
  }
  
  .button-count {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #C6DEFF;
    color: #375232;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    border: 0px;
    border-radius: 3px;
    outline: none;
    
  }
  .button-count:focus{
    outline: none;
  }
  .button-count:active {
    background-color: #C6DEFF;
    outline: none;
  }
  
  .number-product {
    display: inline-block;
    width: 46px;
    height: 28px;
    font-size: 24px;
    text-align: center;
    border: none;
    /* cursor: pointer; */
  }
  
  :disabled {
    background-color: silver;
  }
  
/* --------- */



.add-to-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 540px;
    height: 57px;
    border: 1px solid #53B42C;
    border-radius: 5px;
    background-color: #53B42C;
    color: #53B42C;
}
.add-to-cart h6{
    padding-left: 14px;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.3px;
    font-weight: 500;
}


/* //----responsiveness */
@media only screen and (max-width: 600px) {
    .p-detail-sec{
        height: 100%;
    }
    .p-detail-sec .img-border{
        border: 0px;
        width: 254.81px;
        height: 250px;
    }
    .p-detail-sec .img-border img{
        width: 254.81px;
        height: 250px;
    }
    .p-detail-sec .col{
        padding-left: 0px;
        padding-right: 0px;
    }
    .p-detail-sec h2{
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.3px;
        line-height: 18px;
    }
    .p-detail-sec h5{
        font-size: 14px;
        letter-spacing: 0.3px;
        line-height: 17px;
        margin-bottom: 8px;
    }
    .p-detail-sec p{
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 16px;
    }
    .star-5{
        display: none;
    }
    .star-1{
        display: block;
    }
    .p-detail-sec span{
        font-size: 10px;
        line-height: 18px;
        margin-bottom: 9px;
    }
    .p-detail-sec h6{
        font-size: 18px;
        letter-spacing: 0.3px;
        line-height: 18px;
        padding-top: 0px;
        /* padding-bottom: 16px; */
    }
    .wei-qua{
        display: flex;
        justify-content: space-between;
    }
    .bttn-group .btn.btn-secondary.one{
        width: 68px;
        height: 42px;
    }
    .bttn-group .btn.btn-secondary.half{
        width: 110px;
        height: 42px;
        margin-right: 0px;
    }
    .product-count .button-count{
        width: 40.65px;
        height: 42px;
    }


    .web{
        display: none;
    }
    .mob{
        display: block;
    }
    .buy-now{
        width: 345px;
        height: 57px;
        border: 2px solid #53B42C;
        border-radius: 5px;
        background-color: #53B42C;
        color: #fff;
        margin-bottom: 8px!important;
        margin: auto;
    }
    .buy-now h6{
        font-size: 14px;
        color: #fff;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 18px;
        
    }
    .add-to-cart{
        width: 345px;
        height: 57px;
        border: 2px solid #53B42C;
        background-color: #fff;
        color: #fff;
        margin: auto;
    }
    .add-to-cart h6{
        font-size: 14px;
        color: #53B42C;
        margin-bottom: 0px;
    }
}


/* --------inside------------------------------------------------------ */

.inside-sec h3{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #375232;
}
.inside-sec h5{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #375232;
    padding: 24px;
    margin-left: 30px;
    margin-right: 30px;
}
.inside-sec .row{
    text-align: center;
}
.inside-sec .row h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    padding: 8px;
}
.inside-sec .row h6{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #375232;
}
.inside-sec .row .col{
    padding-bottom: 32px;
}


/* //----responsiveness */
@media only screen and (max-width: 600px) {
    .inside-sec h3{
        font-size: 24px;
        line-height: 29px;
    }
    .inside-sec h5{
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.3px;
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .inside-sec .row .col{
        text-align: left;
        padding-bottom: 18px;
    }
    .inside-sec .row img{
        width: 50px;
        height: 50px;
    }
    .inside-sec .row{
        text-align: left;
    }
    .inside-sec .row h4{
        font-size: 12px;
        text-align: left;
        text-transform: uppercase;
        padding: 0px;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .inside-sec .row h6{
        font-size: 10px;
        line-height: 12px;
        text-align: left;
    }
}


/* ------product explain----------------------------------------------------------- */

.location-Sec{
    background-color: #D8FFD1;
    text-align: center;
    padding: 93px;
    height: 578px;
}
.location-img{
    /* padding-right: 40px!important; */
    justify-content: right;
    display: grid;
}
.location-detail{
    padding-left: 0px!important;
}
.location-detail h3{
    color: #375232;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    letter-spacing: 0.2px;
    line-height: 60px;
}
.location-detail p{
    color: #375232;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    letter-spacing: 0.3px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.order.nav-link{
    border: 1px solid #375232;
    border-radius: 0;
    width: 255px;
    height: 42px;
    background-color: #375232;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: .6rem 1rem;
    text-transform: uppercase;
}


/* //----responsiveness */
@media only screen and (max-width: 600px) {
    .location-Sec{
        padding: 16px;
        height: 100%;
    }
    .location-img{
        justify-content: center;
    }
    .location-img img{
        width: 150px;
    }
    .location-detail{
        padding-left: 15px!important;
    }
    .location-detail h3{
        font-size: 24px;
        text-align: center;
        line-height: 36px;
    }
    .location-detail p{
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        padding-top: 7px;
    }
    .order.nav-link{
        margin: auto;
    }
}



/* -----activity------------------------------------------------------ */

.activity-sec{
    text-align: center;
}
.activity-sec .spn{
    justify-content: center;
    align-items: center;
    display: flex;
}
.activity-sec h3{
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0.2px;
    color: #375232;
    padding-top: 64px;
}
.activity-sec .spn h4{
    width: 529px;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #375232;
    padding-left: 45px;
}
.activity-sec .row h4{
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #375232;
    padding-left: 45px;
}
.activity-sec .row{
    padding-bottom: 70px;
}


/* //----responsiveness */
@media only screen and (max-width: 600px) {
    .activity-sec h3{
        font-size: 24px;
        line-height: 36px;
        padding-top: 16px;
    }
    .activity-sec .spn img{
        width: 50px;
    }
    .activity-sec .spn h4{
        width: 212px;
        font-size: 14px;
        line-height: 21px;
        padding-left: 0px;
    }
    .activity-sec .row .col{
        padding-right: 6px;
        padding-left: 6px;
    }
    .activity-sec .row .col img{
        width: 50px;
    }
    .activity-sec .row h4{
        font-size: 12px;
        line-height: 18px;
        padding-left: 0px;
    }
    .activity-sec .row{
        padding-bottom: 16px;
    }
}


/* ---------faq-------------------------------------------------------- */

.faq-sec{
    /* height: 787px; */
    height: 100%;
}
.faq-sec h3{
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #375232;
}
.faq-sec .sm-line{
    width: 36px;
    height: 0px;
    border: 1px solid #375232;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 80px;
}
.faq-sec .col{
    height: fit-content;
}
.faq-sec .col h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #375232;
}
.faq-sec .col h5{
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #375232;
    opacity: 0.7;
}


/* //----responsiveness */
@media only screen and (max-width: 600px) {
    .faq-sec h3{
        font-size: 24px;
        line-height: 30px;
    }
    .faq-sec .sm-line{
        margin-bottom: 24px;
    }
    .faq-sec .col h4{
        font-size: 16px;
        line-height: 20px;
    }
    .faq-sec .col h5{
        font-size: 12px;
        line-height: 15px;
    }
}

/* -------contact------------------------------------------------------------ */

.contact-sec{
    display: flex;
    margin: auto;
    text-align: center;
    padding: 64px;
}
.contact-sec h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #375232;
}
.contact-sec h5{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #375232;
    opacity: 0.7;
    padding-top: 14px;
    padding-bottom: 34px;
}
.contact-sec h5 span{
    font-weight: 700;
}
.call.nav-link{
    border: 1px solid #375232;
    border-radius: 4px;
    width: 255px;
    height: 42px;
    background-color: #375232;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: .6rem 1rem;
}
.call.nav-link{
    margin: auto;
}

/* //----responsiveness */
@media only screen and (max-width: 600px) {
    .contact-sec{
        padding: 20px;
        padding-bottom: 32px;
    }
    .contact-sec h3{
        font-size: 18px;
        line-height: 23px;
    }
    .contact-sec h5{
        font-size: 12px;
        line-height: 16px;
        opacity: 0.7;
        padding-top: 14px;
        padding-bottom: 34px;
    }
}


/* ------footer------------------------------------------------- */


.footer-sec{
    height: 470px;
    background-color: #D8FFD1;
    text-align: center;
    padding-top: 40px;
  }
.footer-sec .row{
    padding-left: 120px
}
.foot-left{
    text-align: left;
}
.foot-left h5{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #375232;
}
.foot-left h6{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #375232;
    opacity: 0.7;
}
.sm-group{
    padding-top: 42px;
    padding-bottom: 40px;
}
.s-icon1{
    padding-right: 18px;
}
.pay-icon img{
    padding-top: 42px;
    padding-right: 16px;
    padding-bottom: 36px;
}
.sec-2{
    padding-top: 26px;
    padding-bottom: 24px;
}
.sec-2 .form-control{
    width: 399px;
    height: 64px;
    border: 1px solid #375232;
    border-radius: 4px;
    background-color: #D8FFD1;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #375232;
}
.sec-2 .btn{
    width: 399px;
    height: 64px;
    background: #375232;
    border-radius: #375232;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
}
.sec-2 .btn-primary{
    border-color: #375232!important;
}
.sec-2 .btn-primary:hover{
    background-color: #375232!important;
    border-radius: 4px !important;
    border-color: #375232!important;
}
.sec-2 .btn-primary:focus{
    background-color: #375232!important;
    border-color: #375232!important;
}
.sec-3{
    width: 360px;
}

/* //----responsiveness */
@media only screen and (max-width: 600px) {
    .footer-sec{
        padding-top: 20px;
        height: 100%;
    }
    .footer-sec .row{
        flex-direction: column-reverse;
        padding-left: 0px;
    }
    .foot-left{
        text-align: center;
        padding-right: 0px!important;
        padding-left: 0px!important;
    }
    .foot-left h5{
        font-size: 18px;
        line-height: 23px;
    }
    .foot-left h6{
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 0px;
    }
    .sec-2{
        padding-top: 12px;
        padding-bottom: 8px;
    }
    .sec-2 .form-control{
        width: 345px;
        height: 55px;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 12px;
        margin: auto;
    }
    .sec-2 .btn{
        width: 345px;
        height: 55px;
        font-size: 16px;
        line-height: 20px;
    }
    .sec-3{
        font-size: 12px!important;
        line-height: 15px;
        text-align: center;
        padding-bottom: 32px;
    }
    .sm-group{
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .pay-icon img{
        padding-top: 31px;
        padding-right: 16px;
        padding-bottom: 32px;
    }
}