*{
    /* outline: 1px solid red;  */
}
body{
    margin: 0;
    padding: 0;
    display: block;
    /* overflow: hidden; */
    font-family: 'Mulish';
}
a:hover{
    text-decoration: none!important;
}

.mob{
    display: none;
}
.web{
    display: block;
}


/* -----------------topBar----------------------------------------------------------- */


.topBar{
    background: #375232;
}
.topBar .row{
    height: 45px;
}

.topBar p{
    margin:0;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
.toplinegp span{
    color: #fff;
}
.toplinegp{
    text-align: right;
}


/* --------Navbar-------------------------------------------------------------- */

.navBar{
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: 0px 4px 2px #99E08C;
    z-index: 100;
}
.topNav{
    height: 88px;
    margin: auto;
}

.menu-item{
    font-weight: 600;
    font-size: 14px;
    /* letter-spacing: 0.2px; */
    color: #375232;
}
.navGp{
    padding-top: 10px;
    display: flex;
}
.navGp .nav-item a{
    color: 375232;
}
/* .navGp .nav-item a:hover{
    
} */
.navGp .active{
    /* width: 51px; */
    /* height: 22px; */
    background: #D8FFD1;
    border-radius: 5px;
    color: 375232;
}

/* -----search-------------- */

form.search-wrap{
    border: 1px solid;
    border-radius: 30px;
    overflow: hidden;
    display: inline-flex;
}
.search-wrap input.form-control{
    border: none;
    width: 100px;
}
/* -----search-------------- */
.toplinegp a{
    padding-right: 15px;
}
.tlicon{
    /* width: 24px; */
    height: 21px;
}

/* //----responsiveness */
@media only screen and (max-width: 600px) {
    .topBar .row{
        height: 60px;
        font-size: 14px;
    }
    .topBar .tlicon{
        height: 18px;
    }
    .topBar .toplinegp{
        text-align: center;
    }


    

    /* --navbar-- */
    
    .navBar{
        height: 48px;
    }
    .brandName{
        justify-content: space-between;
    }
    .alpha-icon{
        text-align: center;
    }
    .brandName img{
        width: 65.62px;
        height: 24px;
    }
    .navGp, form.search-wrap{
        display: none;
    }
    

    /* --navbar-- */
}


/* ---------navbar-end------------ */




/* ----------shop--------------------------------------------------------------- */

.product-sec{
    /* height: 500px; */
    padding: 38px;
}
.product-sec hr{
    margin-top: 0;
}
.filter h6{
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #375232;
}
.filter .form-check-label{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #375232;
}
.filter .form-check-input{
    height: 14px;
    width: 14px;
}
.product-list .top-function{
    display: flex;
    justify-content: space-between;
}
.top-function .dropdown-menu a{
    font-weight: 500!important;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #375232;
}
.top-function .btn-secondary{
    background-color: white;
    color: #375232;
    border: 0px;
    padding: 0px;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.dropdown-menu .active{
    background-color: #d8ffd1!important;
}
.top-function .btn-secondary:hover{
    background-color: white;
    color: #375232;
}
.top-function .btn-secondary:focus{
    background-color: white;
}
.top-function .dropdown-menu{
    transform: translate3d(-114px, 25px, 0px)!important;
}
.top-function .btn-secondary.dropdown-toggle {
    color: #375232!important;
    background-color: #fff!important;
    border-color: #fff!important;
}
.top-function .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0rem rgba(255, 255, 255, 0.5)!important;
}
.sort-filter{
    display: none;
}


/* product----- */

.pdset .col{
    padding: 15px;
    max-width: fit-content;
}
.pdset .card{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding-bottom: 10px;
    height: 444px;
    width: 255px;
}
.pdset .card-body{
    text-align: left;
}
.pdset h5{
    font-size: 14px;
    font-weight: 700;
    color: #373F41;
    letter-spacing: 0.3px;
    line-height: 18px;
    margin-bottom: 4px;
}
.pdset p{
    font-size: 14px;
    font-weight: 400;
    color: #373F41;
    letter-spacing: 0.3px;
    line-height: 18px;
    margin-bottom: 10px;
}
.pdset span{
    font-size: 12px;
    font-weight: 700;
    color: #373F41;
    letter-spacing: 0.3px;
    line-height: 18px;
    margin-bottom: 10px;
}
.pdset h6{
    font-size: 14px;
    font-weight: 700;
    color: #199002;
    letter-spacing: 0.3px;
    line-height: 18px;
    padding-top: 10px;
    /* padding-bottom: 16px; */
}
.fa-star{
    color: rgb(255, 245, 0);
    padding: 2px;
}
.star-1{
    display: none;
}
.pd-sz{
    /* height: 17rem;   */
    height: 270px;
    overflow: hidden;
}
.add-to-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 30px;
    border: 1px solid #53B42C;
    border-radius: 5px;
    background-color: #53B42C;
    color: #53B42C;
}
.add-to-cart h6{
    padding-left: 14px;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.3px;
    font-weight: 500;
}

/* product----- */


.page-count button{
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 2px solid #375232;
    border-radius: 5px!important;
    background-color: white;
    color: #375232;
}
.page-count .btn-secondary:focus{
    background-color: #E2EFFF!important;
    color: #375232;
}
.page-count .btn-secondary:hover{
    background-color: #E2EFFF!important;
    color: #375232;
}


/* //----responsiveness */
@media only screen and (max-width: 600px) {
    .product-sec{
        padding-bottom: 0px;
    }
    .filter, .top-function, .line{
       display: none!important;
    }
    .sort-filter{
        display: block;
    }
    .sort-filter h6{
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.1px;
        color: #375232;
    }
   .pdset .col{
        max-width: 50%;
        margin: auto;
        padding: 6px;
    }
   .pdset .card{
        height: 280px;
        width: 166px;
    }
    .pdset .card-body{
        padding: 8px;
    }
    .pd-sz{
        width: 160px!important;
        height: 145px;
        overflow: hidden;
    }
    .pdset h5{
        font-size: 12px;
        font-weight: 700;
    }
    .pdset p{
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
    }
    .star-1{
        display: block;
    }
    .star-5{
        display: none;
    }
    .pdset span{
        font-size: 10px;
        font-weight: 700;
    }
    .pdset h6{
        padding-top: 4px;
    }
    .product-list{
        padding-bottom: 24px;
    }
    .add-to-cart{
        display: none;
    }
    .page-count button{
        margin: 22px;
    }
}

/* ------------------------------------------------- */



/* ------------------------------------------------- */



/* ------footer------------------------------------------------- */


.footer-sec{
    height: 470px;
    background-color: #D8FFD1;
    text-align: center;
    padding-top: 40px;
  }
.footer-sec .row{
    padding-left: 120px
}
.foot-left{
    text-align: left;
}
.foot-left h5{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #375232;
}
.foot-left h6{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #375232;
    opacity: 0.7;
}
.sm-group{
    padding-top: 42px;
    padding-bottom: 40px;
}
.s-icon1{
    padding-right: 18px;
}
.pay-icon img{
    padding-top: 42px;
    padding-right: 16px;
    padding-bottom: 36px;
}
.sec-2{
    padding-top: 26px;
    padding-bottom: 24px;
}
.sec-2 .form-control{
    width: 399px;
    height: 64px;
    border: 1px solid #375232;
    border-radius: 4px;
    background-color: #D8FFD1;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #375232;
}
.sec-2 .btn{
    width: 399px;
    height: 64px;
    background: #375232;
    border-radius: #375232;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
}
.sec-2 .btn-primary{
    border-color: #375232!important;
}
.sec-2 .btn-primary:hover{
    background-color: #375232!important;
    border-radius: 4px !important;
    border-color: #375232!important;
}
.sec-2 .btn-primary:focus{
    background-color: #375232!important;
    border-color: #375232!important;
}
.sec-3{
    width: 360px;
}

/* //----responsiveness */
@media only screen and (max-width: 600px) {
    .footer-sec{
        padding-top: 20px;
        height: 100%;
    }
    .footer-sec .row{
        flex-direction: column-reverse;
        padding-left: 0px;
    }
    .foot-left{
        text-align: center;
        padding-right: 0px!important;
        padding-left: 0px!important;
    }
    .foot-left h5{
        font-size: 18px;
        line-height: 23px;
    }
    .foot-left h6{
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 0px;
    }
    .sec-2{
        padding-top: 12px;
        padding-bottom: 8px;
    }
    .sec-2 .form-control{
        width: 345px;
        height: 55px;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 12px;
        margin: auto;
    }
    .sec-2 .btn{
        width: 345px;
        height: 55px;
        font-size: 16px;
        line-height: 20px;
    }
    .sec-3{
        font-size: 12px!important;
        line-height: 15px;
        text-align: center;
        padding-bottom: 32px;
    }
    .sm-group{
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .pay-icon img{
        padding-top: 31px;
        padding-right: 16px;
        padding-bottom: 32px;
    }
}